html{
  overflow-x: hidden;
}
body{
  height: 100%;
}
#root{
  height: 100%;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-Arabic-Regular.ttf");
  src: local("Montserrat"),
    url("/fonts/Montserrat/Montserrat-Arabic-Regular.ttf") format("truetype"),
    url("/fonts/Montserrat/Montserrat-Arabic-Regular.ttf") format("truetype");
}
img{
  max-width: 100%;
}
a{
  text-decoration: none!important;
  min-width: 45px!important;
}
button{
  background: none!important;
  min-width: 45px!important;
}
::-webkit-scrollbar {
  width: 0.8em;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #ff9752;
  border-radius: 6px;
  border: 2px solid #f9f9ff;
}
.gm-style-mtc > div > div:nth-child(1) {
  z-index: 1000000 !important;
}
